body {
    background-color: #f0f8ff;
    text-align: center;
}

h1 {
    color: darkblue;
    font-family: Arial, sans-serif;
}

p {
    color: black;
    font-size: 18px;
    margin-top: 10px;
}